/* src/components/ImageGallery.css */

.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* Adjust spacing between columns */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px; /* Adjust spacing between columns */
  background-clip: padding-box;
}

.my-masonry-grid img {
  width: 100%; /* Make images responsive */
  display: block;
  margin-bottom: 16px; /* Space between images */
}
